:root {
    --bgc: #A5E2F3;
    --sub-bgc: aqua;
    --mainbg: hsl(178.0, 60.0%, 27%);
    --menu1: hsl(178.0, 60.0%, 32%);
    --menu2: hsl(178.0, 60.0%, 37%);
    --menu3: hsl(178.0, 60.0%, 42%);
    --menu-hover: hsl(178.0, 60.0%, 52.0%);
}

#nav {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 250px auto;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

#nav .main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    /* background-color: hsla(180, 60%, 28%, 1); */
    background: radial-gradient(hsl(180, 60%, 40%), hsl(180, 60%, 40%), hsl(180, 60%, 24%));
    font-size: 16px;
    
    transform: rotate(-360deg);
    transition: transform 1s;

    z-index: 10;
}

#nav .main:hover {
    /* background: hsl(180, 55%, 59%); */
    background: radial-gradient(hsl(180, 55%, 60%), hsl(180, 55%, 60%), hsl(180, 55%, 70%));
}

.menu {
    position: absolute;
    top: 25%;
    left: 25%;
    list-style: none;
    margin: 0;
    /* padding trick for maintaining aspect ratio */
    height: 0;
    padding: 0;
    padding-top: 50%;
    width: 50%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    font-size: 10px;
    z-index: 2;
}

.menu li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#sector);
}

.menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu li:hover {
    background-color: var(--menu-hover);
}

.menu .one {
    background-color: var(--menu1);
    transform: rotate(-60deg);
}

.menu .two {
    background-color: var(--menu2);
    transform: rotate(-120deg);
}

.menu .three {
    background-color: var(--menu3);
    transform: rotate(-180deg);
}

.menu .four {
    background-color: var(--menu1);
    transform: rotate(-240deg);
}

.menu .five {
    background-color: var(--menu2);
    transform: rotate(-300deg);
}

.menu .six {
    background-color: var(--menu3);
    transform: rotate(-360deg);
}

#nav .menu li.on {
    background-color: var(--menu-hover);
}

.menu .icon {
    position: absolute;
    right: 5%;
    top: 25%;
    transform: rotate(60deg);
    color: #ffffff;
}

.sub-menu {
    visibility: hidden;
    position: absolute;
    top: 13.5%;
    left: 121.5%;
    list-style: none;
    margin: 0;
    height: 0;
    padding: 0;
    padding-top: 75%;
    width: 75%;
    border-radius: 50%;
    /* transform: scale(0.6); */
    z-index: 1;
}

.sub-menu.fade {
    /* transform: scale(0.3); */
    transition: transform 1s;
}

.sub-menu li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#sub-sector);
}

.sub-menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.sub-menu li:hover {
    background-color: var(--menu-hover);
    transition: transform 1s;
}

.sub-menu .one {
    background-color:var(--menu1);
}

.sub-menu .two {
    background-color: var(--menu2);
}

.sub-menu .three {
    background-color:var(--menu3);
}

.sub-menu .four {
    background-color: var(--menu1);
}

.sub-menu .five {
    background-color: var(--menu2);
}

.sub-menu .six {
    background-color: var(--menu3);
}

.sub-menu .icon {
    position: absolute;
    right: 1%;
    top: 33%;
    color: #ffffff;
    font-size: 10px;
    transform: rotate(73deg);
}