:root {
    --bgc: #A5E2F3;
    --sub-bgc: aqua;
}

#nav {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 250px auto;
    font-size: 12px;
}

#nav .main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    color: #ffffff;
    background-color: hsla(178, 60%, 28%, 1);
    font-size: 16px;
    z-index: 10;
    transform: rotate(-360deg);
    transition: transform 1s;
}

.menu {
    position: absolute;
    top: 25%;
    left: 25%;
    list-style: none;
    margin: 0;
    /* padding trick for maintaining aspect ratio */
    height: 0;
    padding: 0;
    padding-top: 50%;
    width: 50%;
    border-radius: 50%;
    font-size: 10px;
    z-index: 2;
}

.menu li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#sector);
}

.menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu li:hover {
    background-color: gold;
}

.menu .one {
    background-color: hsl(180, 60%, 32%);
    transform: rotate(-60deg);
    transition: transform 1s;
}

.menu .two {
    background-color: hsl(180, 60%, 36%);
    transform: rotate(-120deg);
    transition: transform 1s;
}

.menu .three {
    background-color: hsl(180, 60%, 40%);
    transform: rotate(-180deg);
    transition: transform 1s;
}

.menu .four {
    background-color: hsl(180, 60%, 32%);
    transform: rotate(-240deg);
    transition: transform 1s;
}

.menu .five {
    background-color: hsl(180, 60%, 36%);
    transform: rotate(-300deg);
    transition: transform 1s;
}

.menu .six {
    background-color: hsl(180, 60%, 40%);
    transform: rotate(-360deg);
    transition: transform 1s;
}

.menu .icon {
    position: absolute;
    /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
    right: 5%;
    top: 25%;
    /* angle of rotation = angle of the sector itself */
    transform: rotate(60deg);
    /* style further as needed */
    color: #ffffff;
}

.sub-menu {
    position: absolute;
    top: 13.5%;
    left: 12.5%;
    list-style: none;
    margin: 0;
    /* padding trick for maintaining aspect ratio */
    height: 0;
    padding: 0;
    padding-top: 75%;
    width: 75%;
    z-index: 1;
}

.sub-menu li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#sub-sector);
}

.sub-menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.sub-menu li:hover {
    background-color: gold;
}

.sub-menu .one {
    background-color: hsl(180, 80%, 24%);
    transform: rotate(-90deg);
    transition: transform 1s;
}

.sub-menu .two {
    background-color: var(--sub-bgc);
    transform: rotate(-60deg);
    transition: transform 1s;
}

.sub-menu .three {
    background-color: var(--sub-bgc);
    transform: rotate(-30deg);
    transition: transform 1s;
}

.sub-menu .four {
    background-color: var(--sub-bgc);
    transform: rotate(0deg);
    transition: transform 1s;
}

.sub-menu .five {
    background-color: var(--sub-bgc);
    transform: rotate(30deg);
    transition: transform 1s;
}

.sub-menu .six {
    background-color: var(--sub-bgc);
    transform: rotate(60deg);
    transition: transform 1s;
}

.sub-menu .icon {
    position: absolute;
    right: 1%;
    top: 33%;
    transform: rotate(73deg);
}