* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0
}

#wrap {
    width: 600px;
    border: 3px dashed gray;
    margin: 20px auto;
    text-align: center;
    user-select: none;
}

#wrap .content .special {
    font-size: 20px;
    color: #F20202;
}

#wrap .content .first {
    font-size: 16px;
}

#wrap .content .second {
    font-size: 14px;
}

#wrap .content .third {
    font-size: 12px;
}

h1 {
    color: #F20202;
}

#btn {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 3px;
    color: #F20202;
    background-color: #1678ce59;
    border-top: 2px dashed gray;
    text-align: center;
    cursor: pointer;
}

.footer {
    width: 600px;
    border: 1px solid black;
    margin: 50px auto;
}

i {
    color: #F20202;
    font-weight: bold;
}