#wrap .circle {
    position: relative;
    margin: 100px auto;
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 50%;
}

#wrap .dot {
    position: absolute;
    top: -5px;
    left: 142px;
    width: 8px;
    height: 8px;
    border: 1px solid #cf7ee6;
    border-radius: 50%;
}

#wrap .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

#wrap .shadow span {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* animation: opa 1s linear 1; */
}

/* @keyframes opa{
    to{opacity: 0;}
} */