* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    transition: 0.5s;
}

.screen .rectangle {
    opacity: 0.5;
    position: absolute;
    transition: 0.5s;
}

.text {
    position: absolute;
    width: 100%;
    z-index: 999;
    color: #fff;
    text-align: center;
    font-family: Josefin Sans;
    top: 5%;
    transition: 0.5s;
}

.text h1 {
    margin: 0;
}