/* #wrap{
    position: absolute;
    width: 200px;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 */
/* div{
    position:absolute;
    width:100px;
    height:100px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background-color:black;
} */

