/* #wrap{
    position: absolute;
    width: 200px;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 */
/* div{
    position:absolute;
    width:100px;
    height:100px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background-color:black;
} */


/* #box1 {
    padding: 50px;
    border: 1px solid gray;
}

#box2 {
    padding: 50px;
    border: 1px solid gray;
}

#box3 {
    width: 50px;
    height: 50px;
    padding: 50px;
    border: 1px solid gray;
} */

/* #content .element,#content .element1 {
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
} */

/* #page { width: 520px; }
.nav { width: 200px; float: right; }
.main { width: 200px; float: left; padding-left: 110px; }
.sub { width: 100px; float: left; margin: 10px 0 10px -100px; } .main { border: 1px solid #000; }
.nav, .sub { border: 1px dashed #000; height: 300px; }
.sub { height: 280px; } */

/* #btn{
    position: relative;
    top: 0;
    width: 50px;
    height: 100px;
    background-color: #000;
    margin: 60px;
}

#btn1{
    width: 50px;
    height: 100px;
    background-color: #000;
    margin: 50px;
}

#btn2{
    width: 50px;
    height: 500px;
    background-color: #000;
} */