* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

#wrap {
    position: relative;
    width: 840px;
    height: 100%;
    color: #cf7ee6;
    background-color: aqua;
    margin: 40px auto;
    user-select: none;
}

#wrap .frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

#wrap .frame ul {
    position: absolute;
    top: 0;
    left: -100%;
    width: 1000%;
    transition: left 1s;
}

#wrap .frame ul.cons {
    transition: left 0s;
}

#wrap .frame ul li {
    float: left;
    width: 840px;
    height: 400px;
}

#wrap .frame ul li img {
    width: 840px;
    height: 400px;
}

#wrap .nav {
    width: 100%;
    height: 40px;
    background-color: #f2f9ff;
    text-align: center;
}

#wrap .nav .btn {
    transition: left 1s;
}

#wrap .nav .btn li {
    position: relative;
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    transition: color .3s;
    cursor: pointer;
}

#wrap .nav .btn li+li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #a8c0d8;
}

#wrap .nav .btn li::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: #f20202;
    transition: width .5s;
}

#wrap .nav .btn li.active {
    color: #f20202;
    background-color: #a8c0d8;
}

#wrap .nav .btn li.active::after {
    width: 100%;
}

#wrap .shift .iconfont {
    font-size: 40px;
}

#wrap .shift div {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    color: rgb(207, 126, 230);
    color: rgba(207, 126, 230, .3);
}

#wrap .shift div:hover {
    color: rgba(207, 126, 230, .8);
}

#wrap .shift .left {
    left: -10px;
}

#wrap .shift .right {
    right: -10px;
}