:root {
    --homeBg: hsl(178.0, 60.0%, 27%);
    --l1Menu1: hsl(178.0, 60.0%, 32%);
    --l1Menu2: hsl(178.0, 60.0%, 37%);
    --l1Menu3: hsl(178.0, 60.0%, 42%);
    --l1Menu-hover: hsl(178.0, 60.0%, 52.0%);
}

* {
    margin: 0;
    padding: 0;
}

#circleNav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    user-select: none;
}

#circleNav .home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: radial-gradient(hsl(180, 60%, 40%), hsl(180, 60%, 40%), hsl(180, 60%, 24%));
    color: #ffffff;
    font-size: 16px;
    transform: rotate(0deg);
    transition: transform 0.75s;
    z-index: 9;
}

#circleNav .home:hover {
    background: radial-gradient(hsl(180, 55%, 60%), hsl(180, 55%, 60%), hsl(180, 55%, 70%));
}

#circleNav .l1Menu {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    transform: rotate(0deg);
    transition: transform 0.5s;
    z-index: 8;
}

#circleNav .l1Menu li {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    clip-path: url(#sector-60);
    transform: rotate(0deg);
    
    /* transition:transform 0.5s; */
}

#circleNav .l1Menu li.one,
#circleNav .l1Menu li.four {
    background-color: var(--l1Menu1);
}

#circleNav .l1Menu li.two,
#circleNav .l1Menu li.five {
    background-color: var(--l1Menu2);
}

#circleNav .l1Menu li.three,
#circleNav .l1Menu li.six {
    background-color: var(--l1Menu3);
}

#circleNav .l1Menu li .icon {
    position: absolute;
    right: 5%;
    top: 22%;
    transform: rotate(60deg);
    font-size: 11px;
    color: #ffffff;
}

#circleNav .l2Menu li {
    position: absolute;
    top: 13%;
    left: 13%;
    width: 75%;
    height: 75%;
    transform: rotate(0deg);
    transition: transform 0.75s;
    z-index: 2;
}

#circleNav .l2Menu li.len2 {
    clip-path: url(#sector-30);
}

#circleNav .l2Menu li.len3 {
    clip-path: url(#sector-40);
}

#circleNav .l2Menu li.len4 {
    clip-path: url(#sector-50);
}

#circleNav .l2Menu li.col0,
#circleNav .l2Menu li.col3 {
    background-color: var(--l1Menu1);
}

#circleNav .l2Menu li.col1,
#circleNav .l2Menu li.col4 {
    background-color: var(--l1Menu2);
}

#circleNav .l2Menu li.col2,
#circleNav .l2Menu li.col5 {
    background-color: var(--l1Menu3);
}

#circleNav .l1Menu li:hover,
#circleNav .l2Menu li:hover {
    background-color: var(--l1Menu-hover);
}

#circleNav .l2Menu li .icon {
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    z-index: 2;
}

#circleNav .l2Menu li.len2 .icon {
    right: 55%;
    top: 4%;
    transform: rotate(-16deg);
}

#circleNav .l2Menu li.len3 .icon {
    right: 55%;
    top: 5%;
    transform: rotate(-20deg);
}

#circleNav .l2Menu li.len4 .icon {
    right: 55%;
    top: 6%;
    transform: rotate(-26deg);
}