*{margin: 0; padding: 0;}
ul, ol {list-style:none;}
a{text-decoration:none;}
img{border:0}


#container span{
    display: inline-block;
    width: 80px;
    height: 40px;
    border: 1px solid blue;
    margin: 5px 10px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}